streamlit
python-dotenv
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
faiss-cpu
pypdf
duckduckgo-search
requests